* {
  margin: 0; 
  padding: 0; 
  position: relative; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #e7e7e7;
}

h1 {
  font-size: 2em;
  color: #262626;
  font-weight: 900;
}

h2 {
  font-size: 1em;
  color: #262626;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  color: #262626;
  font-weight: 900;
}

p {
  font-size: 1em;
  color: #262626;
}

.city {
  font-size: .7em;
  color: #717171;
}

a {
  text-decoration: none;
  color: #262626;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

a:hover {
  color: #f25749;
}

.hero {
  width: 100%;
  text-align: center;
  height: 300px;
  padding-top: 50px;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

img {
  max-height: 200px;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.unit {
  background: transparent;
  float: left;
  margin: 10px 0;
}

.module {
  height: 100%;
  padding: 1em 0px;
}

.alpha {
  padding-right: 10px;
}

.omega {
  padding-left: 10px;
}

.two-of-two {
  width: 100%;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  text-align: center;
}

.one-of-two {
  width: 50%;
  text-align: left;
}

.footer {
  font-size: .5em;
}

@media screen and (max-width:900px) {
  html, body {
    font-size: 18px;
  }


  .one-of-two {
    width: 100%;
  }

  .alpha {
    padding-right: 0px;
  }
  
  .omega {
    padding-left: 0px;
  }
}